# compiled output
**/dist/
**/build/
**/.next/
**/out/

# dependencies
**/node_modules/

# Logs
logs
**/*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
**/coverage/
**/.nyc_output/

# IDEs and editors
**/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
**/.env
**/.env.*
!.env.example

# temp directory
.temp
.tmp
**/.cache/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# legacy folders (deleted, keep ignored just in case)
BACKEND/
express-api/



